[submodule "c-algorithms"]
	path = c-algorithms
	url = https://github.com/fragglet/c-algorithms
[submodule "cbitset"]
	path = cbitset
	url = https://github.com/lemire/cbitset
[submodule "qlibc"]
	path = qlibc
	url = https://github.com/wolkykim/qlibc
[submodule "sds"]
	path = sds
	url = https://github.com/antirez/sds
[submodule "vec"]
	path = vec
	url = https://github.com/rxi/vec
